
.d-ib {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-i-flex {
  display: inline-flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-self-start {
  align-self: flex-start;
}

.flex-column {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.m-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.cup {
  cursor: pointer;
}

.ghost-button {
  padding: 8px;
  margin: 5px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  &:hover {
    background: var(--siver-ligth);
    border-radius: 7px;
  }
}
